.profile{
  border: none;
  width: 30px;
  border-radius: 15px;
  height: 30px;
  vertical-align: middle;
}

.text-button{
  border: none;
  font-size: 14px;
  width: 200px;
  text-align: left;
  color: rgb(176, 173, 173);
  margin-left: 7px;
  height: 30px;
}

.tweet-button{
  background-color: rgb(138, 138, 250);
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}